<footer id="footer" class="tableContainer" style="font-family:cursive">
    <div class="tableContainer1">
    <!-- <h3> <i class="fa fa-user-md"></i> Dr Jyotirmay S Hegde <span style="color: #de5d36;"></span></h3>
    <div class=" row features-block container-fluid" id="foo1">
      <div class="fea-item column col-lg-4">
        <p>
          Dr Jyotirmay S Hegde is a Consulting ENT,<br> Head and Neck & Endoscopic skull base <br> Surgeon at Columbia
          Asia Hospital, <br> Whitefeld, Bangalore.</p>


        <div class="row-class" style="display: flex; flex-direction:row;">
          <a class="col-sm-1" href=" https://www.linkedin.com/in/jyotirmay-hegde-74719116/"><i
              class=" fa fa-linkedin fa-2x"></i></a>
          <a class="col-sm-1"
            href="https://www.practo.com/bangalore/doctor/jyotirmay-hegde-ear-nose-throat-ent-specialist?results_type=doctor"><i
              class=" fa fa-user-md fa-2x"></i></a>
          <a class="col-sm-1" href="https://www.youtube.com/channel/UCWuSiJtIx9m4Ny9nkb098_g"><i
              class=" fa fa-youtube-square fa-2x"></i></a>
          <a class="col-sm-1" href="https://www.facebook.com/jyotirmay.hegde"><i
              class=" fa fa-facebook-square fa-2x"></i></a>
          <a class="col-sm-1" href="https://jyotirmayhegde.com/plus.google.com/+JyotirmayHegde"><i
              class=" fa fa-google-plus-square fa-2x"></i></a>
          <a class="col-sm-1" href="https://twitter.com/HegdeJyotirmay"><i class=" fa fa-twitter-square fa-2x"></i></a>
          <a class="col-sm-1" href="https://www.skype.com/jshegdesirsi"><i class=" fa fa-skype fa-2x"></i></a>
        </div>

      </div> -->

    <div class="fea-item column col-lg-4 ">
      <h5>REVIEW LINKS</h5><br>
      <p><a class="footerlink" >Home</a></p>
      <p><a class="footerlink">Blog</a></p>
      <p><a class="footerlink">Contact</a></p>
      <p><a class="footerlink">Real
          Estate</a></p>
      <p><a class="footerlink">Pages</a>
      </p>
      <!-- <p><a class="footerlink"
          >Google
          Review</a></p> -->
    </div>

    <div class="fea-item column col-lg-4 review-self">
      <h5>&nbsp;&nbsp;&nbsp;Contact Us</h5><br>
      <div class="row" style="font-family:cursive">
        <div class="col-sm-1">
          <i class=" fa fa-map-marker fa-2x"></i>
        </div>
        <div class="col-sm-8">
          <p class="footercontacts"> Yelahanka Bengaluru Bangalore North Bangalore
            Urban Karnataka 560064 India</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <i class="fa fa-envelope fa-lg "></i>
        </div>
        <div class="col-sm-8">
          <p class="footercontacts">getta@gmail.com</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <i class="fa fa-phone fa-2x "></i>
        </div>
        <div class="col-sm-8">
          <p class="footercontacts">
          <ul>
            <li>+91 9632501200</li>
            <li>+91 8032524333</li>
            <li>+91 8884458250</li>
            <li>+91 8058288795</li>
          </ul>
        </div>
      </div>

    </div>
</div>
    <div class=" row  container-fluid">
      <div class=" column col-lg-8">
        <p>Copyright © 2022 All Rights Reserved</p>
      </div>
      <div class=" column col-lg-4">
        <!-- <p>Designed & Developed by kekkar Infotech</p> -->
      </div>

    </div>


  </footer>
